<div class="auth-container">
    <div class="auth-wrapper">
        <p-card styleClass="auth-card">
            <div class="text-center mb-6">
                <h2>Welcome Back</h2>
                <p>Sign in to continue to Elite School</p>
            </div>

            <form #loginForm="ngForm" (ngSubmit)="login()" class="p-fluid">
                <div class="field">
                    <p-floatLabel variant='on'>
                        <input pInputText id="username" name="username" type="text" [(ngModel)]="username"
                            [ngClass]="{'ng-invalid ng-dirty': usernameModel.invalid && usernameModel.touched}" required
                            #usernameModel="ngModel" autocomplete="username" />
                        <label for="username">Username</label>
                    </p-floatLabel>
                    <small class="p-error" *ngIf="usernameModel.invalid && usernameModel.touched">
                        <i class="pi pi-exclamation-circle"></i> Username is required
                    </small>
                </div>

                <div class="field">
                    <p-floatLabel variant='on'>
                        <p-password id="password" name="password" [(ngModel)]="password" 
                            [feedback]="true"
                            [toggleMask]="true"
                            [ngClass]="{'ng-invalid ng-dirty': passwordModel.invalid && passwordModel.touched}" required
                            #passwordModel="ngModel"
                            autocomplete="current-password">
                        </p-password>
                        <label for="password">Password</label>
                    </p-floatLabel>
                    <small class="p-error" *ngIf="passwordModel.invalid && passwordModel.touched">
                        <i class="pi pi-exclamation-circle"></i> Password is required
                    </small>
                </div>

                <div class="button-container">
                    <button pButton type="submit" label="Sign In" icon="pi pi-sign-in" iconPos="left"
                        [loading]="loading"
                        [disabled]="loginForm.invalid || loading" class="submit-button">
                    </button>
                    
                    <div class="sign-in-link">
                        <span>Don't have an account?</span>
                        <a (click)="navigateToRegister()">
                            Create one
                        </a>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>