<div class="d-flex justify-content-center align-items-center min-vh-100">
    <form (ngSubmit)="login()" class="p-fluid p-4 shadow-sm rounded bg-dark text-white" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4">Login</h3>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input pInputText id="username" [(ngModel)]="username" name="username" class="p-inputtext-dark" required
                placeholder="Enter username" />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input pInputText type="password" id="password" [(ngModel)]="password" name="password" class="p-inputtext-dark"
                required placeholder="Enter password" />
        </div>

        <button pButton type="submit" label="Login" class="w-100 p-button-raised p-button-primary mt-2"></button>
    </form>
</div>